:host {
	font-size: 1rem;
	position: relative;
}

#toolbar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 401;
}

.button-group {
	display: flex;
	flex-direction: column;
	margin: 2vw;
}

button {
	appearance: none;
	background: white;
	border: 2px solid black;
	color: black;
	filter: drop-shadow(1px 2px #0006);
	font-weight: bold;
	padding: 0.5ch 1.5ch;
}

button:first-child {
	border-start-end-radius: 1ch;
	border-start-start-radius: 1ch;
}

button:last-child {
	border-end-end-radius: 1ch;
	border-end-start-radius: 1ch;
}

button:not(:first-child) {
	border-top: 0;
}

button:active {
	background: black;
	color: white;
}

button[name="tool"][aria-pressed="true"] {
	background: royalblue;
	color: white;
}

:host([tool="add"]) > #map-container,
:host([tool="subtract"]) > #map-container {
	cursor: crosshair;
}
